@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  transition: all 0.6s;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1310px;
  }
}

:root {
  --black: #2a2e31;
  --white: #ffffff;
  --theme: #237dc0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 20px;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 45px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 22px;
}
p {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 20px;
}

input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  outline: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  padding-right: 40px !important;
  background-image: url(../images/select-arw.png);
  background-repeat: no-repeat;
  background-position: 94% center;
}

/*========= Custom Css Start =========*/
.popular-course-sec {
  overflow: hidden;
  padding: 60px 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 55, 255, 0) 0%,
    #0084ff 100%
  );
}
.popular-course-sec .container-fluid {
  padding: 0 35px;
  width: 100%;
}
.sec-title {
  margin-bottom: 60px;
}
.sec-title .sub-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #96bb7c;
  margin-bottom: 15px;
  display: inline-block;
}
.sec-title h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 10px;
}
.sec-title p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #f6f6f6;
  margin: 0;
  max-width:434px;
}

.popular-course-wpr {
  margin-right: -18%;
  /* margin-right: calc(-70vw + 100px); */
}
.popular-course-slider .slick-list {
  margin: 0 -15px;
}
.course-item {
  padding: 0 15px;
}
.course-card {
  background: #fff;
  border-radius:10px 10px 0 0;
  overflow:hidden;
}
.course-card figure {
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
.course-card figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}
.course-txt {
  padding: 25px 25px 35px;
}
.course-txt .training-txt {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #96bb7c;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.course-txt .training-txt span {
  display: flex;
  align-items: center;
  margin-left: 5px;
  background-color: #2d4059;
  padding: 5px 8px;
  border-radius: 50px;
  gap: 2px;
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
}
.course-txt h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  line-height: 1.1;
  margin-bottom: 10px;
}
.course-txt p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 10px;
}
.course-txt .sales {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.course-txt .sales i {
  width: 16px;
  margin-right: 10px;
}
.course-txt .price {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.1px;
  color: #bdbdbd;
  margin-bottom: 20px;
}
.course-txt .price span {
  color: #ffab71;
}
.course-btn-wpr {
  margin: 0 -10px;
}
.course-btn-wpr li {
  padding: 0 10px;
}
.course-btn-wpr li a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #96bb7c;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #96bb7c;
  min-width: 144px;
  height: 44px;
  border-radius: 50px;
  text-align: center;
  transition: 0.2s;
}
.course-btn-wpr li a img {
  max-width: 9px;
  margin-left: 10px;
}
.course-btn-wpr li a:hover {
  background: #96bb7c;
  color: #fff;
}
.course-btn-wpr li a:hover img {
  filter: brightness(100);
}
.wishlist-wpr {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 -5px;
}
.wishlist-wpr li {
  padding: 0 5px;
}
.wishlist-wpr li button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
}
.wishlist-wpr li:nth-child(1) button {
  background: linear-gradient(270deg, #ff0000 0%, #0000ff 100%);
}
.wishlist-wpr li:nth-child(2) button {
  background: linear-gradient(270deg, #800080 0%, #bd4f42 48.12%, #ffa500 100%);
}

.wishlist-wpr li:nth-child(3) button {
  background: linear-gradient(270deg, #ffff00 0%, #008000 100%);
}
.tag-list {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0 -5px;
}
.tag-list li {
  padding: 0 5px;
}
.tag-list li span {
  background-color: #e74040;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px;
}

/*========= Custom Css End =========*/

/*======= Responsive Start =======*/
@media screen and (max-width: 1365px) {
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
}
@media screen and (max-width: 479px) {
    .popular-course-sec .container-fluid {
        padding: 0px 15px;
    }
    .popular-course-wpr {
        margin-right: 0;
    }
    .sec-title h2 {
        font-size: 30px;
    }
    .sec-title {
        margin-bottom: 30px;
    }

}
